# editorconfig.org

# .NET runtime .editorconfig settings
# https://github.com/dotnet/runtime/blob/main/.editorconfig

# top-most EditorConfig file
root = true

[*.cs]
dotnet_diagnostic.CS1591.severity = none
